In [1]:

import pandas as pd

data = {
    'Book Title': ['The Great Gatsby', 'To Kill a Mockingbird', '1984', 'Pride and Prejudice', 'The Catcher in the Rye'],
    'Author': ['F. Scott Fitzgerald', 'Harper Lee', 'George Orwell', 'Jane Austen', 'J.D. Salinger'],
    'Genre': ['Classic', 'Classic', 'Dystopian', 'Classic', 'Classic'],
    'Price': [10.99, 8.99, 7.99, 11.99, 9.99],
    'Copies Sold': [500, 600, 800, 300, 450]
}

df = pd.DataFrame(data)

Explore the Dataset:

    Use head() to view the first few rows of the DataFrame.
    Use describe() to get a statistical summary of the numerical columns.
    Use info() to get a concise summary of the DataFrame, including the number of non-null entries in each column.
    Sort the DataFrame based on the Price or Copies Sold.
    Filter the books by a specific Genre or books with Price above a certain threshold.
    Group the books by Author and sum up the Copies Sold.

In [2]:
print(f"{"-"*10} Head {"-"*10}\n")
print(df.head())

print(f"\n{"-"*10} Describe {"-"*10}\n")
print(df.describe())

print(f"\n{"-"*10} Info {"-"*10}\n")
print(df.info())

---------- Head ----------

               Book Title               Author      Genre  Price  Copies Sold
0        The Great Gatsby  F. Scott Fitzgerald    Classic  10.99          500
1   To Kill a Mockingbird           Harper Lee    Classic   8.99          600
2                    1984        George Orwell  Dystopian   7.99          800
3     Pride and Prejudice          Jane Austen    Classic  11.99          300
4  The Catcher in the Rye        J.D. Salinger    Classic   9.99          450

---------- Describe ----------

           Price  Copies Sold
count   5.000000     5.000000
mean    9.990000   530.000000
std     1.581139   185.741756
min     7.990000   300.000000
25%     8.990000   450.000000
50%     9.990000   500.000000
75%    10.990000   600.000000
max    11.990000   800.000000

---------- Info ----------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Book Title   5 non-null      object
 1   Author       5 non-null      object
 2   Genre        5 non-null      object
 3   Price        5 non-null      float64
 4   Copies Sold  5 non-null      int64
dtypes: float64(1), int64(1), object(3)
memory usage: 332.0+ bytes
None

In [3]:
# Sort the DataFrame based on the Price or Copies Sold.

print(df.sort_values(by="Price"))
print()
print(df.sort_values(by="Copies Sold"))

               Book Title               Author      Genre  Price  Copies Sold
2                    1984        George Orwell  Dystopian   7.99          800
1   To Kill a Mockingbird           Harper Lee    Classic   8.99          600
4  The Catcher in the Rye        J.D. Salinger    Classic   9.99          450
0        The Great Gatsby  F. Scott Fitzgerald    Classic  10.99          500
3     Pride and Prejudice          Jane Austen    Classic  11.99          300

               Book Title               Author      Genre  Price  Copies Sold
3     Pride and Prejudice          Jane Austen    Classic  11.99          300
4  The Catcher in the Rye        J.D. Salinger    Classic   9.99          450
0        The Great Gatsby  F. Scott Fitzgerald    Classic  10.99          500
1   To Kill a Mockingbird           Harper Lee    Classic   8.99          600
2                    1984        George Orwell  Dystopian   7.99          800

In [4]:
# Filter the books by a specific Genre or books with Price above a certain threshold.

print(df[(df["Genre"]=="Dystopian") & (df["Price"]>=7)])

  Book Title         Author      Genre  Price  Copies Sold
2       1984  George Orwell  Dystopian   7.99          800

In [5]:
# Group the books by Author and sum up the Copies Sold
print(df.groupby("Author").sum())

                                 Book Title      Genre  Price  Copies Sold
Author
F. Scott Fitzgerald        The Great Gatsby    Classic  10.99          500
George Orwell                          1984  Dystopian   7.99          800
Harper Lee            To Kill a Mockingbird    Classic   8.99          600
J.D. Salinger        The Catcher in the Rye    Classic   9.99          450
Jane Austen             Pride and Prejudice    Classic  11.99          300